absl-py==2.1.0
aiohappyeyeballs==2.5.0
aiohttp==3.10.11
aiosignal==1.3.2
altair==5.4.0
annotated-types==0.7.0
anyio==4.8.0
appdirs==1.4.4
argcomplete==3.6.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==5.0.1
attr==0.3.1
attrs==23.2.0
awscli==1.38.37
azure-core==1.32.0
azure-storage-blob==12.25.0
backoff==2.2.1
beautifulsoup4==4.12.3
black==25.1.0
bleach==5.0.1
blinker==1.8.2
boto==2.49.0
boto3==1.37.13
botocore==1.37.37
cachetools==5.5.0
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.3.2
chromedriver-autoinstaller==0.6.4
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
cryptography==44.0.2
cycler==0.12.1
dataclasses-json==0.6.7
datamodel-code-generator==0.26.1
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
distro==1.9.0
Django==4.2.20
django-annoying==0.10.6
django-cors-headers==3.6.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.2.3
django-filter==2.4.0
django-migration-linter==5.1.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.5.1
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.15.2
dnspython==2.7.0
docutils==0.19
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
earthengine-api==1.5.2
email_validator==2.2.0
et-xmlfile==1.1.0
exceptiongroup==1.2.2
executing==2.0.1
expiringdict==1.2.2
Faker==37.0.0
fastjsonschema==2.20.0
filelock==3.16.1
filetype==1.2.0
flatbuffers==25.2.10
fonttools==4.53.1
frozenlist==1.5.0
fsspec==2024.10.0
gast==0.6.0
genson==1.3.0
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
google==3.0.0
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-appengine-logging==1.6.0
google-cloud-audit-log==0.3.1
google-cloud-core==2.4.1
google-cloud-logging==3.11.4
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.67.0
graphviz==0.20.3
grpc-google-iam-v1==0.14.1
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
humansignal-drf-yasg==1.21.10.post1
idna==3.7
ijson==3.3.0
importlib_metadata==8.2.0
importlib_resources==6.4.0
inference-sdk==0.41.0
inflect==5.6.2
inflection==0.5.1
ipykernel==6.29.5
ipython==8.18.1
isodate==0.7.2
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.4
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
jsf==0.11.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
keras==3.7.0
kiwisolver==1.4.5
label-studio==1.15.0
label-studio-sdk==1.0.8
launchdarkly-server-sdk==8.2.1
libclang==18.1.1
lockfile==0.12.2
lxml==5.3.1
lxml_html_clean==0.4.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.1
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.5.5
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
numpy==2.0.2
openai==1.66.3
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.31.0
opt_einsum==3.4.0
optree==0.13.1
ordered-set==4.0.2
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.2.2
plotly==5.23.0
prompt_toolkit==3.0.47
propcache==0.3.0
proto-plus==1.26.0
protobuf==5.29.4
psutil==7.0.0
psycopg2-binary==2.9.10
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyboxen==1.3.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.19.1
pyparsing==3.2.3
pyRFC3339==2.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.4
pytz==2025.2
pywin32==306
PyYAML==6.0.2
pyzmq==26.0.3
redis==3.5.3
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-mock==1.12.1
requests-toolbelt==1.0.0
rich==13.7.1
roboflow==1.1.54
rpds-py==0.19.1
rq==1.10.1
rsa==4.7.2
rstr==3.2.2
rules==3.4
s3transfer==0.11.4
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
selenium==4.29.0
semver==3.0.4
sentry-sdk==2.22.0
six==1.17.0
smart-open==7.1.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
sqlparse==0.5.3
stack-data==0.6.3
streamlit==1.37.1
supervision==0.25.1
sympy==1.13.1
tenacity==8.5.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==3.0.1
threadpoolctl==3.5.0
toml==0.10.2
tomli==2.2.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
trio==0.29.0
trio-websocket==0.12.1
typing-inspect==0.9.0
typing_extensions==4.13.1
tzdata==2025.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
ujson==5.10.0
ultralytics-thop==2.0.14
uritemplate==4.1.1
urllib3==1.26.20
user-agents==2.2.0
watchdog==4.0.2
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
xgboost==2.1.1
xmljson==0.2.1
yarl==1.18.3
zipp==3.21.0
